# **Modulo 1. Tecnicas de preprocesamiento de datos**
### Import Libraries

In [116]:
import pandas as pd
import numpy as np

### Download Dataset

In [117]:
df = pd.read_csv("G:/Mi unidad/IA/Estadistica/data_sets/Automobile.csv")
df.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,number-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.4,7.0,160,5500,16,22,?

### Clasifica las variables correctamente de acuerdo a su tipo y escala de mediciÃ³n.

#### Categorical Data

In [118]:
#The categorical data groups the information into distinct fields
categorical = df[['symboling','make','fuel-type','aspiration','number-of-doors','body-style','drive-wheels','engine-location','engine-type','num-of-cylinders',	'fuel-system']]
categorical.head(5)

,symboling,make,fuel-type,aspiration,number-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system
0,3,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,3,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,1,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,2,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,2,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi

##### Nominal Data

In [119]:
#This data dont present any order
nominal = categorical[['make','fuel-type','aspiration','number-of-doors','body-style','drive-wheels','engine-location','engine-type','num-of-cylinders','fuel-system']]
nominal.head(5)

,make,fuel-type,aspiration,number-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi

##### Ordinal Data

In [120]:
#The data of symboling represents the degree to which the auto is more risky than its price indicates.
ordinal = categorical[['symboling']]
ordinal.head(5)

   symboling
0          3
1          3
2          1
3          2
4          2

#### Numerical Data

In [121]:
#The numeric data is the one that is not contained in the categorical df.
numeric = df.loc[:, ~df.columns.isin(categorical.columns)]
numeric.head()

,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,?,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495
1,?,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500
2,?,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26,16500
3,164,99.8,176.6,66.2,54.3,2337,109,3.19,3.4,10.0,102,5500,24,30,13950
4,164,99.4,176.6,66.4,54.3,2824,136,3.19,3.4,8.0,115,5500,18,22,17450

##### Continuous Data

In [122]:
#This type of data can take a big number of values 
continuous = numeric[['normalized-losses', 'length', 'width', 'height', 'curb-weight', 'engine-size', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'price','wheel-base', 'city-mpg', 'highway-mpg']]
continuous.head()

,normalized-losses,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,price,wheel-base,city-mpg,highway-mpg
0,?,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,13495,88.6,21,27
1,?,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,16500,88.6,21,27
2,?,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,16500,94.5,19,26
3,164,176.6,66.2,54.3,2337,109,3.19,3.4,10.0,102,5500,13950,99.8,24,30
4,164,176.6,66.4,54.3,2824,136,3.19,3.4,8.0,115,5500,17450,99.4,18,22

##### Discrete Data

In [123]:
#In this case there is not a field that can be countable, the field 
#that could be in this point is number-of-doors, but before that a transformation is needed
#to change the datatype from string to int.

### Identifica problemas de calidad de datos (registros duplicados, valores faltantes, outliers, etc).

In [124]:
#Inconsistent data
#The first think that we can see is that there are not null values at the begining, 
#but the reason for that is because some values represent the nulls with a ?
nulls = df.isnull().any()
columnas_con_nulos = nulls[nulls].index.tolist()
print("Columnas con valores nulos:", columnas_con_nulos)
#Firstly we change that character to a numpy null.
df.replace("?", np.nan, inplace=True)
print('After transformation:\n')
nulls = df.isnull().any()
columnas_con_nulos = nulls[nulls].index.tolist()
print("Columnas con valores nulos:", columnas_con_nulos)

Columnas con valores nulos: []
After transformation:

Columnas con valores nulos: ['normalized-losses', 'number-of-doors', 'bore', 'stroke', 'horsepower', 'peak-rpm', 'price']

In [125]:
#Nulls
#Here we can see those columns that have null values, and the number 
#of them compare to the total amount of vals.
nulls = df.columns[df.isnull().any()]
columna_nulls=[]
for columna in nulls:
    nulos = df[columna].isnull().sum()
    total_datos = len(df.index)
    print(f"Columna: {columna}")
    columna_nulls.append(columna)
    print(f"Cantidad de nulos: {nulos}")
    print(f"Total de datos: {total_datos}")
    print("-" * 20)

Columna: normalized-losses
Cantidad de nulos: 41
Total de datos: 205
--------------------
Columna: number-of-doors
Cantidad de nulos: 2
Total de datos: 205
--------------------
Columna: bore
Cantidad de nulos: 4
Total de datos: 205
--------------------
Columna: stroke
Cantidad de nulos: 4
Total de datos: 205
--------------------
Columna: horsepower
Cantidad de nulos: 2
Total de datos: 205
--------------------
Columna: peak-rpm
Cantidad de nulos: 2
Total de datos: 205
--------------------
Columna: price
Cantidad de nulos: 4
Total de datos: 205
--------------------

In [126]:
#The next thing to check is if in our dataset are duplicates
duplicates = df[df.duplicated()]

print("Registros duplicados:")
print(duplicates)

Registros duplicados:
Empty DataFrame
Columns: [symboling, normalized-losses, make, fuel-type, aspiration, number-of-doors, body-style, drive-wheels, engine-location, wheel-base, length, width, height, curb-weight, engine-type, num-of-cylinders, engine-size, fuel-system, bore, stroke, compression-ratio, horsepower, peak-rpm, city-mpg, highway-mpg, price]
Index: []

[0 rows x 26 columns]

In [128]:
#Outliers using box plots
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1

# Calcula los lÃ­mites para identificar outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Detecta outliers
outliers = ((df < lower_bound) | (df > upper_bound)).sum()

# Imprime la cantidad de outliers por columna
print("Cantidad de outliers por columna:")
print(outliers)

Cantidad de outliers por columna:
aspiration            0
body-style            0
bore                  0
city-mpg              2
compression-ratio    28
curb-weight           0
drive-wheels          0
engine-location       0
engine-size          10
engine-type           0
fuel-system           0
fuel-type             0
height                0
highway-mpg           3
horsepower            0
length                1
make                  0
normalized-losses     0
num-of-cylinders      0
number-of-doors       0
peak-rpm              0
price                 0
stroke                0
symboling             0
wheel-base            3
width                 8
dtype: int64

C:\Users\rauli\AppData\Local\Temp\ipykernel_24804\3658486687.py:11: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  outliers = ((df < lower_bound) | (df > upper_bound)).sum()

In [129]:
#Wrong data format
#In the case of this two variables
#They should be integers instead of strings
nominal[['number-of-doors','num-of-cylinders']]

    number-of-doors num-of-cylinders
0               two             four
1               two             four
2               two              six
3              four             four
4              four             five
..              ...              ...
200            four             four
201            four             four
202            four              six
203            four              six
204            four             four

[205 rows x 2 columns]

### SegÃºn el tipo de variable, identifica los mÃ©todos de procesamiento aplicables y se decide por alguno siendo consciente de sus consecuencias y argumentando su decisiÃ³n.

#### Variables categoricas
Nominales:
En el caso de las variables categoricas, aquellas variables que tengan un numero menor a 5 categorÃ­as diferentes utilizarÃ­a one hot encoding para poder analizar los datos segun si presentan o no alguna caracteristica. 
En el caso especifico del numero de puertas lo mas conveniente serÃ­a hacer un 'cast' para cambiar el string a un integer y asÃ­ poder aprovechar de mejor manera esta columna.
En el caso de la marca del vehÃ­culo dejarÃ­a la columna tal cual como esta, ya que me sirve para poder filtrar los datos y poder analizarlos respecto a cierta marca o si se ocupa realizar alguna tecnica de clasificaciÃ³n las convertiria a factor para asÃ­ poder llevar a cabo la tecnica.
Ordinales:
En este dataset la unica variable categorica ordinal ya se encuentra con un tipo de dato de integer, el cual se entiende perfectamente, por lo que no es necesario llevar a cabo ningun cambio.

In [130]:
#The categorical data groups the information into distinct fields
#df = pd.read_csv("G:/Mi unidad/IA/Estadistica/data_sets/Automobile.csv")
categorical = df[['make','fuel-type','aspiration','body-style','drive-wheels','engine-location','engine-type',	'fuel-system']]

categorical_encoded = pd.get_dummies(categorical)


# Ahora categorical_encoded contiene las columnas categÃ³ricas codificadas en formato one-hot
print(categorical_encoded.head())

df = df.drop(['make','fuel-type','aspiration','body-style','drive-wheels','engine-location','engine-type',	'fuel-system'], axis=1)

df = pd.concat([df, categorical_encoded], axis=1)

df.head(10)

   make_alfa-romero  make_audi  make_bmw  make_chevrolet  make_dodge  \
0                 1          0         0               0           0
1                 1          0         0               0           0
2                 1          0         0               0           0
3                 0          1         0               0           0
4                 0          1         0               0           0

   make_honda  make_isuzu  make_jaguar  make_mazda  make_mercedes-benz  ...  \
0           0           0            0           0                   0  ...
1           0           0            0           0                   0  ...
2           0           0            0           0                   0  ...
3           0           0            0           0                   0  ...
4           0           0            0           0                   0  ...

   engine-type_ohcv  engine-type_rotor  fuel-system_1bbl  fuel-system_2bbl  \
0                 0                  0                 0                 0
1                 0                  0                 0                 0
2                 1                  0                 0                 0
3                 0                  0                 0                 0
4                 0                  0                 0                 0

   fuel-system_4bbl  fuel-system_idi  fuel-system_mfi  fuel-system_mpfi  \
0                 0                0                0                 1
1                 0                0                0                 1
2                 0                0                0                 1
3                 0                0                0                 1
4                 0                0                0                 1

   fuel-system_spdi  fuel-system_spfi
0                 0                 0
1                 0                 0
2                 0                 0
3                 0                 0
4                 0                 0

[5 rows x 51 columns]

,symboling,normalized-losses,number-of-doors,wheel-base,length,width,height,curb-weight,num-of-cylinders,engine-size,...,engine-type_ohcv,engine-type_rotor,fuel-system_1bbl,fuel-system_2bbl,fuel-system_4bbl,fuel-system_idi,fuel-system_mfi,fuel-system_mpfi,fuel-system_spdi,fuel-system_spfi
0,3,NaN,two,88.6,168.8,64.1,48.8,2548,four,130,...,0,0,0,0,0,0,0,1,0,0
1,3,NaN,two,88.6,168.8,64.1,48.8,2548,four,130,...,0,0,0,0,0,0,0,1,0,0
2,1,NaN,two,94.5,171.2,65.5,52.4,2823,six,152,...,1,0,0,0,0,0,0,1,0,0
3,2,164,four,99.8,176.6,66.2,54.3,2337,four,109,...,0,0,0,0,0,0,0,1,0,0
4,2,164,four,99.4,176.6,66.4,54.3,2824,five,136,...,0,0,0,0,0,0,0,1,0,0
5,2,NaN,two,99.8,177.3,66.3,53.1,2507,five,136,...,0,0,0,0,0,0,0,1,0,0
6,1,158,four,105.8,192.7,71.4,55.7,2844,five,136,...,0,0,0,0,0,0,0,1,0,0
7,1,NaN,four,105.8,192.7,71.4,55.7,2954,five,136,...,0,0,0,0,0,0,0,1,0,0
8,1,158,four,105.8,192.7,71.4,55.9,3086,five,131,...,0,0,0,0,0,0,0,1,0,0
9,0,NaN,two,99.5,178.2,67.9,52.0,3053,five,131,...,0,0,0,0,0,0,0,1,0,0

#### Variables numericas:
En el caso de las variables numericas lo correcto serÃ­a modificar el tipo de dato a integer o float segun corresponda, ya que en el dataset algunas variables numericas aparecen como objetos.

In [131]:
print('Before transformation: \n' ,df.dtypes)

Before transformation:
 symboling              int64
normalized-losses     object
number-of-doors       object
wheel-base           float64
length               float64
                      ...
fuel-system_idi        uint8
fuel-system_mfi        uint8
fuel-system_mpfi       uint8
fuel-system_spdi       uint8
fuel-system_spfi       uint8
Length: 69, dtype: object

In [132]:
df['normalized-losses'] = df['normalized-losses'].astype('Int64')
df['horsepower']=df['horsepower'].astype('Int64')
df['bore'] = pd.to_numeric(df['bore'], errors='coerce')
df['bore']=df['bore'].astype('Float64')
df['price']=df['price'].astype('Int64')
df['peak-rpm']=df['peak-rpm'].astype('Int64')
df['stroke'] = pd.to_numeric(df['stroke'], errors='coerce')
df['stroke']=df['stroke'].astype('Float64')

print('After transformation: \n', df.dtypes)

After transformation:
 symboling              int64
normalized-losses      Int64
number-of-doors       object
wheel-base           float64
length               float64
                      ...
fuel-system_idi        uint8
fuel-system_mfi        uint8
fuel-system_mpfi       uint8
fuel-system_spdi       uint8
fuel-system_spfi       uint8
Length: 69, dtype: object

#### Wrong Format   
En el caso de las dos variables (numero de puertas y numero de cilindros), es necesario realizar una transformaciÃ³n para reemplazar el valor en string por su valor numerico lo que facilitaria el analisis.

In [133]:
mapping = {
    'one':1,
    'two': 2,
    'three': 3,
    'four': 4,
    'five': 5,
    'six': 6,
    'eight': 8,
    'twelve': 12
}
df['number-of-doors'] = df['number-of-doors'].replace(mapping)
df['num-of-cylinders'] = df['num-of-cylinders'].replace(mapping)
df['number-of-doors'] = df['number-of-doors'].astype('Int64')
df['num-of-cylinders'] = df['num-of-cylinders'].astype('Int64')
df['symboling']=df['symboling'].astype('Int64')
df[['number-of-doors','num-of-cylinders']].head(10)

   number-of-doors  num-of-cylinders
0                2                 4
1                2                 4
2                2                 6
3                4                 4
4                4                 5
5                2                 5
6                4                 5
7                4                 5
8                4                 5
9                2                 5

In [80]:
print(df.dtypes)

symboling              Int64
normalized-losses      Int64
number-of-doors        Int64
wheel-base           float64
length               float64
                      ...
fuel-system_idi        uint8
fuel-system_mfi        uint8
fuel-system_mpfi       uint8
fuel-system_spdi       uint8
fuel-system_spfi       uint8
Length: 69, dtype: object

#### Nulos
En el caso de los nulos existen columnas con un numero de nulos menor a 10, y una sola columna con nulos mayor a 10; en ambos casos las columnas son numericas o se pueden convertir a numericas. 
Para aquellas columnas con un numero de nulos menor a 10 eliminarÃ­a los registros de aquellas variables utiles para mi analisis. Puesto que no afectarÃ­a perder menos del 10% de los registros.
Para la columna que contiene un gran numero de valores faltantes, si la columna no es de utilidad la eliminarÃ­a, si es de utilidad, rellenarÃ­a los valores faltantes de los nulos con la media segÃºn sea la marca del vehÃ­culo, con el objetivo de aproximarme lo mejor posible al valor del campo.

In [134]:
media = df['normalized-losses'].mean()

# Rellenar los valores nulos con la media
df['normalized-losses'].fillna(media, inplace=True)

df_filtrado = df.dropna()

nulls = df_filtrado.columns[df_filtrado.isnull().any()]
columna_nulls=[]
for columna in nulls:
    nulos = df_filtrado[columna].isnull().sum()
    total_datos = len(df_filtrado.index)
    print(f"Columna: {columna}")
    columna_nulls.append(columna)
    print(f"Cantidad de nulos: {nulos}")
    print(f"Total de datos: {total_datos}")
    print("-" * 20)
print('Cantidad de datos originales: ',len(df.index),'\nCantidad de datos restantes: ',len(df_filtrado.index))

Cantidad de datos originales:  205
Cantidad de datos restantes:  193

#### Outliers
En el caso de los outliers seguirÃ­a una metodologÃ­a similar que con los nulos, eliminando aquellos registros de las columnas que presenten un numero menor a 10 outliers.
Para las columnas que sobrepasen dicho rango, buscarÃ­a emplear una tÃ©cnica de transformaciÃ³n logaritmica o box-cox para reducir la influencia de los outliers, y en el dado caso que queden pocos eliminar los registros, si esta tÃ©cnica no funciona cambiarÃ­a los valores outliers por valores limites segÃºn el rango intercuartilico que sobrepasen, de esta forma evito la eliminaciÃ³n de un gran numero de valores que pudiera llegar a afectar el analisis.